<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup page</title>
</head>

<body>
    <h1>Signup</h1>
    <form method="POSt" action="/user">
        <label>Full Name</label>
        <input type="text" required name="name" />
        <label>Email</label>
        <input type="text" required name="email" />
        <label>Password</label>
        <input type="text" required name="password" />
        <label>Mobile</label>
        <input type="number" required name="mobile" />
        <label>Gender</label>
        <select name="gender" required>
            <option value="1">Male</option>
            <option value="2">Female</option>
            <option value="3">Other</option>
        </select>

        <button type="submit">Signup</button>
    </form>
</body>

</html>